body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #00843D;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00843D; /* Color verde */
  color: #000; /* Color del texto */
  padding: 10px 20px;
  height: 60px; /* Altura de la barra */
  box-shadow: 0 2px 0 #000; /* Línea negra abajo */
}

.navbar .left, .navbar .right {
  font-size: 20px;
  font-weight: bold;
}


.center {
  text-align: center;
  padding: 50px 20px;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #00843D;
  border-radius: 50%;
  overflow: hidden; /* Esto asegura que la forma circular no se desborde */
}

.circle {
  position: relative;
  width: 90vw; /* Usa un valor en unidades relativas para que sea responsivo */
  height: 90vw; /* Mantiene la proporción 1:1 */
  max-width: 900px; /* Tamaño máximo para pantallas grandes */
  max-height: 900px; /* Tamaño máximo para pantallas grandes */
  border: 2px solid #000;
  border-radius: 50%; /* Garantiza que el círculo sea perfectamente redondo */
}

.circle-link {
  position: absolute;
  text-decoration: none;
  background-color: rgb(32, 200, 71);
  border: 1px solid #000;
  border-radius: 50%;
  width: 50px; 
  height: 50px; /* Igual al width para un círculo perfecto */
  font-size: 14px;
  text-align: center;
  color: #333;
  display: flex;
  justify-content: center; /* Centrar el texto horizontalmente */
  align-items: center; /* Centrar el texto verticalmente */
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .circle-link {
    padding: 8px 15px; /* Ajustar tamaño del enlace en pantallas pequeñas */
    font-size: 14px; /* Reducir tamaño de texto en pantallas pequeñas */
  }
}


.circle-link:hover {
  background-color: #0f730b;

}

.center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.center-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

